/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background: radial-gradient(circle, rgba(142,152,155,1) 0%, rgba(72,72,74,1) 48%, rgba(2,0,36,1) 100%);
    color: white;
    padding: 60px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 20px 0 0;
    font-size: 1.5em;
    font-style: italic;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
}

#about img {
    width: 500px;
    border-radius: 50%;
    margin-bottom: 30px;
}

#about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.1em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    background: #f9f9f9;
    border-radius: 5px;
    padding: 30px;
    width: calc(50% - 40px);
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    max-width: 100%;
    border-radius: 5px;
}

.project h3 {
    margin-top: 15px;
    font-size: 1.5em;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background: radial-gradient(circle, rgba(142,152,155,1) 0%, rgba(72,72,74,1) 48%, rgba(2,0,36,1) 100%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgba(238,174,202,1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
}
